asgiref==3.11.0
certifi==2025.11.12
charset-normalizer==3.4.4
dj-database-url==3.1.0
Django==6.0
django-cors-headers==4.9.0
django-filter==25.2
django-ipware==7.0.1
django-phonenumber-field==8.4.0
django-rest-authemail==2.1.7
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
idna==3.11
phonenumbers==9.0.20
pillow==12.0.0
psycopg==3.3.2
psycopg-binary==3.3.2
PyJWT==2.10.1
python-ipware==3.0.0
requests==2.32.5
sqlparse==0.5.4
tzdata==2025.2
urllib3==2.6.1
whitenoise==6.11.0
